table {
    overflow: hidden;
    margin-top: 2em;
    width: 100%;
    padding: 8px 16px;
    // border: 1px solid red;

    th {
        border-left: 1px solid $green-color;
        // border-bottom: 1px solid $green-color;
        // border-top: 1px solid $green-color;
        // border: 1px solid blue;
        background: $green-color;
        color: $light-cream-color;
        font-weight: 500;
        text-align: left;
        padding: 8px 16px;
    }

    :first-child {
        border: none;
    }
}